/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: aliceblue;

}

#header {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
    border-bottom: 2px solid #bfbfbf;
    background-color: darkblue;
}

#conteneur {
    display: flex;
    width: 300px;
    height: 250px; 
    justify-content: space-between;

}
/* IMAGE DU BUT À DROITE DANS LA SECTION DESCRIPTIF */
#descriptif_BUT {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 10px; 
    text-align: right ;
    
}

#descriptif_BUT_img {
    display:flex;
    align-items: right;
    margin-left: 20px;
    margin-bottom: 10px

}


hr {
    margin: 25px ;
    color:darkslategray
}



.contenu img {
    border: 1px solid #ccc;
}

.bloc_competences {
    border: 2px solid #0d0b41;
    background-color: #f9f9f9;

}

/* Image cliquable de la vie étudiante */
.affichage_img {
    display: flex;
    margin-top: 15px;
    border: 1px solid #cfcfcf;
}

#zoom {

}
/* Petits ajustements de texte */


h3, h4 {
    margin-left: 20px;
}

#restocrous {
    display: flex;
    align-items: center;
    gap: 15px;
}
