/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: aliceblue;

}

#header {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
    border-bottom: 2px solid #bfbfbf;
    background-color: darkblue;
}


/* IMAGE DU BUT À DROITE DANS LA SECTION DESCRIPTIF */
#descriptif_BUT {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 10px; 
}

#descriptif_BUT_img {
    margin-left: 20px;
}

hr {
    margin: 25px ;
    color:darkslategray
}

#article2{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}

.
.contenu_img2:hover{
transition: transform 0.35s ease; 
transform: scale(1.12);
overflow: hidden;
border-radius: 10px;
object-fit: cover;
padding: 30px;

 }



.bloc_competences {
    border: 2px solid #0d0b41;
    background-color: #f9f9f9;
    padding: 15px;
}

/* Image cliquable de la vie étudiante */
.affichage_img {
    display: flex;
    margin-top: 15px;
    border: 1px solid #cfcfcf;
}



#restocrous {
    display: flex;
    align-items: center;
    gap: 15px;
}
