/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: rgb(185, 190, 194);

}

#header {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;
    border-bottom: 2px solid #bfbfbf;
    background-color: darkblue;
}

.article1{
     display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;
}

/* IMAGE DU BUT À DROITE DANS LA SECTION DESCRIPTIF */
#descriptif_BUT {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

#descriptif_BUT_img {
    margin-left: 20px;
    align-items: flex-start;

}

hr {
    margin: 25px ;
    color:darkslategray
}

@media (max-width: 800px) {
    #article2 {
        flex-direction: column;  /* image au-dessus, texte en dessous */
        align-items: center;
        text-align: center;
    }

    .article2.texte{
        max-width: 90%;
    }
}

#article2{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;
    
}

.article2.texte{
    max-width: 500px;
}

.contenu_img2:hover{
transition: transform 0.35s ease; 
transform: scale(1.12);
overflow: hidden;
border-radius: 10px;
object-fit: cover;
padding: 30px;

}

.encadrer {
    border: 2px solid #3f72af;  
    border-radius: 10px;         
    padding: 15px;              
    margin-bottom: 10px;
}

.bloc_competences {
    border: 2px solid #0d0b41;
    background-color: #f9f9f9;
    padding: 15px;
}

/* Image cliquable de la vie étudiante */
.affichage_img {
    display: flex;
    margin-top: 15px;
    border: 1px solid #cfcfcf;
}

#article4 {

}

#restocrous {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
