/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20;
    background-color: aliceblue;
}

#header {
    display: flex;
    gap: 15px;
    padding: 10px;
    border-bottom: 2px solid #bfbfbf;
    background-color: darkblue;
}

/* IMAGE DU BUT À DROITE DANS LA SECTION DESCRIPTIF */
#descriptif_BUT {
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 10px
}

#descriptif_BUT_img {
    display:flex;
    align-items: right;
    margin-left: 20px;
    margin-bottom: 10px
}


hr {
    margin: 25px 0;
    color:darkslategray
}


.contenu {
    display: flex;
    position: relative;
    text-align: left;
    
}

.contenu img {
    border: 1px solid #ccc;
}

.bloc_competences {
    border: 2px solid #d0d0d0;
    padding: 10px;
    width: fit-content;
    background-color: #f9f9f9;
}

/* Image cliquable de la vie étudiante */
.affichage_img {
    display: block;
    margin-top: 15px;
    border: 1px solid #cfcfcf;
}

/* Petits ajustements de texte */
p {
    margin: 15px 20px;
}

strong {
    margin-left: 20px;
}

h3, h4 {
    margin-left: 20px;
}

#restocrous {
    display: flex;
    text-align: 200px;
}
