* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif; 
}
/* ====== header ====== */
#header {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
    background-color: white;
}

#header img {
    height: 4rem;
    width: auto;
    transform: none;
}

.logo_BUT {
    margin-left: auto;
}

/* --- version responsive --- */
@media (max-width:800px){
    #header {
        gap:1rem;
    }

    #header img {
        height: 2.5rem;
        max-width:30%;
        object-fit: contain;
    }
}


/* ====== Menu de navigation ====== */

nav{
    padding:0.5rem;
    background:#353535;
    color:#e0e0e0;
}

nav input[type=checkbox]{
    display: none; 
}


/*style du menu burger (pas visible sur la version ordinateur)*/
.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color:white;
}

/*affichage du menu*/
nav ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul li{
    flex:1;
    text-align: center;
    position: relative;
}

nav a{
    color:#e0e0e0;
    text-decoration:none;
    padding:0.5rem;
    display:block;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
    text-decoration-color:#ff3a39;
}

/* menu déroulant version ordinateur*/
.menu_deroulant{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#353535;
    z-index:10;
}

.menu_deroulant a{
    border-bottom:0.4rem solid #353535;
}

li:hover .menu_deroulant{
    display:block;  
}


/* --- Version responsive --- */

@media (max-width:800px){

    .burger{
    display: block; 
    padding:0.5rem;
    text-align: center;
    }

    nav ul{
        display:none;
        flex-direction: column;
        width: 100%;
    }

    nav input[type=checkbox]:checked + ul{
        display: flex;
    }


    li:hover .menu_deroulant{
        position:relative;
    }
}

/* ====== Page de présentation du BUT informatique ====== */
body{
    background-color: #f5f5f5;
}

/*Titre*/
h1{
    text-align: center;
    margin:2rem auto;
    color:#ff3a39;
    font-size: 2rem;
}

h2{
    padding: 0 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/*Séparateur*/
hr{
    width:50%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left:25%;
    margin-right:25%;
}


/*partie tableau des compétences avec le texte explicatif*/

.tab_text{
    display:flex;
    gap:2rem;
    padding:0 3rem;
}

strong {
    font-weight: normal;
}


thead th{
    padding:10px;
    background-color: #ff3a39;
    color:white;
}

td, th {
    text-align: center;
    border:1px solid #353535;
    padding:0.2rem;
}

table{
    border-collapse: collapse;
    
}


/*partie compétences avec ressources associées*/

img {
    border-radius: 10px;
    height: 17rem;
    width: auto;
}

.img img{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    filter:grayscale(100%);
    transition: 0.3s;
}

.C{
    display: flex;
    gap:1rem;
    padding:0 3rem;
    margin: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #e0e0e0;
    border-radius: 10px;

}

.ressources{
    display: flex;
}

.ressources table{
    border-collapse: separate;
    border-spacing:1rem;
}

.ressources td{
    border-spacing: 1rem;
    width:100rem;
    border-radius:5%;
    padding:1rem;
}


.C td{
    background-color:#ff3a39;
    border:1px solid black;
    color:white;
}

.competences {
    display: flex;
    align-items: center;
    flex-direction: column;
}

td.empty {
    border:0px !important;
    background-color: #e0e0e0 !important;
    color:inherit !important;
}

.img img:hover {
    transform: scale(1.01);
    filter:grayscale(0%);
}


/*----- Version responsive -----*/
@media (max-width: 800px){

    h2{
        padding:0 1rem;
    }

    .tab_text{
        flex-direction: column;
        padding:0 1rem
    } 

    .text {
        width:100%;
    }

    .C {
        flex-direction: column;
        align-items: stretch;
        padding: 0 1rem;
        margin: 0.6rem 1rem;
        gap: 1rem;
    }

    table {
        font-size: 0.8rem;
    }

    .img {
        display: flex;
        width: 100%;
    }

    .img img{
        max-width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .competences {
        flex-direction: column;
    }

}


/* ====== Footer ====== */

footer {
  background-color: #353535;
  display: flex;
  color: #e0e0e0;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
footer a {
    color: #e0e0e0;
    text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-color:#ff3a39;;
}
footer ul{
  list-style-type: none;
}
.Col_1_pied_de_page{
  flex: 1;
  text-align: left;
}
.Col_2_pied_de_page{
  flex: 1;
  text-align: center;
}
.Col_3_pied_de_page{
  flex: 1;
  text-align: right;
}
.Col_3_pied_de_page p{
  margin-bottom: 13px;
}

@media (max-width: 800px) {

  footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .Col_1_pied_de_page,
  .Col_1_pied_de_page,
  .Col_1_pied_de_page{
    text-align: center;
  }
  footer .Col_1_pied_de_page ul {
    padding: 0;
  }
  footer .Col_1_pied_de_page ul ul {
    padding: 0;
  }
}


