body{
    font-family: Arial, Helvetica, sans-serif;
}

.coteAcote, 
.UE1_1, 
.UE1_2, 
.UE1_3,
.UE1_4,
.UE1_5,
.UE1_6{
    display: flex;
}

thead th{
    padding:10px
}

td, th {
    text-align: center;
    border:1px solid grey;
}

table{
    border-collapse: collapse;
    
}

