* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial; 
      background-color: #f5f5f5;
}

/*Titre*/
h1{
    text-align: center;
    margin:2rem auto;
    color:#ff3a39;
}

/*Séparateur*/
hr{
    width:50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left:25%;
    margin-right:25%;
}

/*partie tableau des compétences avec le texte explicatif*/

.tab_text{
    display:flex;
    gap:2rem;
    padding:0 3rem;
}


thead th{
    padding:10px;
    background-color: #ff3a39;
    color:white;
}

td, th {
    text-align: center;
    border:1px solid #353535;
    padding:0.2rem;
}

table{
    border-collapse: collapse;
    
}


/*partie compétences avec ressources associées*/

img {
    border-radius: 10px;
    max-width: 250px;
}

.C1, 
.C2, 
.C3,
.C4,
.C5,
.C6{
    display: flex;
    gap:1rem;
    padding:0 3rem;
    margin: 2rem;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.ressources{
    display: flex;
}

.ressources table{
    border-collapse: separate;
    border-spacing:1rem;
}

.ressources td{
    border-spacing: 1rem;
    width:100rem;
    border-radius:5%;
    padding:1rem;
}

.C1 td, 
.C2 td, 
.C3 td,
.C4 td,
.C5 td,
.C6 td{
    background-color:#ff3a39;
    border:1px solid #353535;
    color:white;
}

.competences {
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (hover: hover) {
    img:hover{
        transform: scale(1.03);
    }
}

/*----- Version responsive -----*/
@media (max-width: 800px){

    .tab_text{
        flex-direction: column;
        padding:0 1rem
    } 

    .C1, 
    .C2, 
    .C3, 
    .C4,
    .C5,
    .C6 {
        flex-direction: column;
        align-items: stretch;
        padding: 0 1rem;
        margin: 0.6rem 1rem;
        gap: 1rem;
    }

    table {
        font-size: 0.8rem;
    }

    .img {
        flex: 0 0 auto;
        max-width: 90%;
        height: auto;
        border-radius: 10px;
        justify-content: center;
    }

    

    .competences {
        flex-direction: column;
    }

}

