body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h4{
    font-family: 'Oswald', sans-serif;
}

table{
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
    border-style: solid;
    border-color: #663b35;
    border-width: 2%;
}

tr, th{
    padding : 5%;
    border-collapse: collapse;
    border-style : dashed;
    border-color : #663b35;
    border-width: 1%;
}

div{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}


#Ressources{
    display: flex;
    flex-direction: column;
    gap:15%;
    padding-bottom: 5%;
}

.ressource{
    display: grid;
    justify-content: initial;
    border-style: dashed;
    margin-bottom: 2em;
}

.texteRessource1{
    display: flex;
    grid-column: col 0;
    grid-row:row 2;
    padding-left: 1em;
}

.texteRessource2{
    display: flex;
    grid-column: col 0;
    grid-row: row 3;
    padding-left: 1em;
}

.apprentissages{
    display: flex;
    flex-direction: row;
    gap : 10%;
}

img{
    display: flex;
    width: 20%;
    height: 30%;
}

#liste{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.TitrePrincipalA{
    background-color: #b85d4f;
}

.TitrePrincipalB{
    background-color: #f26843;
}

.TitrePrincipalC{
    background-color: #f1bc0c;
}

.TitrePrincipalD{
    background-color: #72a83b;
}

.TitrePrincipalE{
    background-color: #375e97;
}

.TitrePrincipalF{
    background-color: #754842;
}

.TitreCompetence{
    size: 2rem;
}

.A{
    color: #b85d4f;
}

.B{
    color: #f26843;
}

.C{
    color: #f1bc0c;
}

.D{
    color: #72a83b;
}

.E{
    color:#375e97
}

.F{
    color: #754842;
}

.codeRessource{
    display: flex;
    block-size: fit-content;
    grid-column: col 0 / span 2;
    grid-row: row;
    width : fit-content;
    padding: 4%;
}

.titreRessource{
    display: flex;
    grid-column: col 1 / span 2;
    grid-row: row;
    align-items: center;
    padding: 2%;
}

.I{
    background-color: #bb9792;
}

.II{
    background-color: #f38668;
}

.III{
    background-color: #f3ce53;
}

.IV{
    background-color: #72a83b;
}

.V{
    background-color: #5e7496;
}

.VI{
    background-color: #a07772;
}

@media (max-width: 800px) {

    body {
        margin: 10px;
    }

    table {
        width: 100%;
        border-width: 1%;
    }

    tr, th {
        padding: 3%;
    }

    div {
        flex-direction: column;
        gap: 20px;
    }

    #Ressources {
        gap: 30px;
        padding-bottom: 10%;
    }

    .ressource {
        display: flex;
        flex-direction: column;
        gap: 0%;
    }

    .apprentissages {
        flex-direction: column;  
        gap: 1em;
    }

    img {
        width: 60%;    
        height: auto;
        align-self: center;
    }

    #liste {
        gap: 1em;
    }

    .codeRessource .titreRessource {
        padding: 1em;
    }
}
