h1.TitreCompetence1{
    color: #b85d4f;
}

h1.TitrePrincipal{
    background-color: #b85d4f;
}

table{
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
    border-style: solid;
    border-color: #663b35;
    border-width: 2%;
}

tr, th{
    padding : 5%;
    border-collapse: collapse;
    border-style : dotted;
    border-color : #663b35;
    border-width: 1%;
}

div{
    display:flex;
    justify-content: space-around;
}


#Ressources{
    display: flex;
    flex-direction: column;
}

.ressource{
    display: grid;
}

.codeRessource{
    background-color: #663b35;
    grid-column: col / span 2;
    grid-row: row;
}

.titreRessource{
    background-color: #663b35;
    grid-column: col 3 / span 2;
    grid-row: row;
}

.texteRessource1{
    grid-column: col;
    grid-row:row 2;
}

.texteRessource2{
    grid-column: col;
    grid-row: row 3;
}