body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h4{
    font-family: 'Oswald', sans-serif;
}

table{
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
    border-style: solid;
    border-color: #663b35;
    border-width: 2%;
}

tr, th{
    padding : 5%;
    border-collapse: collapse;
    border-style : dashed;
    border-color : #663b35;
    border-width: 1%;
}

div{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}


#Ressources{
    display: flex;
    flex-direction: column;
    gap:15%;
    padding-bottom: 5%;
}

.ressource{
    display: grid;
    justify-content: initial;
}

.texteRessource1{
    display: flex;
    grid-column: col 0;
    grid-row:row 2;
}

.texteRessource2{
    display: flex;
    grid-column: col 0;
    grid-row: row 3;
}

.apprentissages{
    display: flex;
    flex-direction: row;
    gap : 10%;
}

img{
    display: flex;
    width: 20%;
    height: 30%;
}

#liste{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.TitrePrincipalA{
    background-color: #b85d4f;
}

.TitreCompetence{
    size: 2rem;
}

.A{
    color: #b85d4f;
}

.codeRessource{
    display: flex;
    block-size: fit-content;
    grid-column: col 0 / span 2;
    grid-row: row;
    width : fit-content;
    padding: 4%;
}

.titreRessource{
    display: flex;
    grid-column: col 1 / span 2;
    grid-row: row;
    align-items: center;
    padding: 2%;
}

.I{
    background-color: #bb9792;
}