body {
    background-color: rgba(237, 239, 244, 0.947);
    font-family: Arial, Helvetica, sans-serif;

}

#descriptif_BUT {
    position: relative;
 margin-top: 25px ;
 margin-right: 25px;
}

#iutRangueil {
    -ms-zoom-animation: initial;
}

.diff_bloc {
    border: 2px black; 
    background-color: aliceblue;
}

.bloc_competences {
    border: 2px rgb(34, 34, 75)
}

#header {
background-color: rgb(11, 11, 31);;
position: relative;
}