/* Style général */

*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 2rem; 
    margin: 2rem; 
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

#header {
    display: flex;
    gap: 2rem;
    padding: 0;
    background-color: white;
    margin:0 ;
}

#header img {
    height: 4rem;
    width: auto;
    transform: none;
}

.logo_BUT {
    margin-left: auto;
}

/* --- version responsive --- */
@media (max-width:800px){
    #header {
        gap:1rem;
        margin: 0;
    }

    #header img {
        height: 2.5rem;
        max-width:30%;
        object-fit: contain;
    }
}


/* ====== Menu de navigation ====== */

nav{
    padding:0.5rem;
    background:#353535;
    color:#e0e0e0;
}
nav input[type=checkbox]{
    display: none; 
}


/*style du menu burger (pas visible sur la version ordinateur)*/
.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color:white;
}

/*affichage du menu*/
nav ul{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul li{
    flex:1;
    text-align: center;
    position: relative;
}

nav a{
    color:#e0e0e0;
    text-decoration:none;
    padding:0.5rem;
    display:block;
}

nav a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
    text-decoration-color:#ff3a39;
}

/* menu déroulant version ordinateur*/
.menu_deroulant{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#353535;
    z-index:10;
}

.menu_deroulant a{
    border-bottom:0.4rem solid #353535;
}

li:hover .menu_deroulant{
    display:block;  
}


/* --- Version responsive --- */

@media (max-width:800px){

    .burger{
    display: block; 
    padding:0.5rem;
    text-align: center;
    }

    nav ul{
        display:none;
        flex-direction: column;
        width: 100%;
    }

    nav input[type=checkbox]:checked + ul{
        display: flex;
    }


    li:hover .menu_deroulant{
        position:relative;
    }
}


.img{
    width: 35%;
    height: auto;
}

/*article1 = Descriptif BUT */
.article1{
     display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;
    margin: 20px; 

}

/* ce @media rend la partie consacrée au DESCRIPTIF BUT responsive*/
@media (max-width : 800px){
    .article1{
    flex-direction: column ;
}
}

#descriptif_BUT {
    display: flex;
    gap: 30px;
    h2 {
        color:rgb(223, 41, 41);
    }
    
}

hr {
    margin: 25px ;
    color:darkslategray
}

/* article 2= Contact + photo de l'iut avec effet zoomé*/ 

.article2{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 40px;
    
}

.article2.texte{
    max-width: 500px;
}

.contenu_img2:hover {
transition: transform 0.35s ease; 
transform: scale(1.12);
border-radius: 10px;
object-fit: cover;
padding: 30px;
}

/* ce @media rend notre class article2 responsive*/ 
@media (max-width:800px){
    .article2 {
        flex-direction: column;
    }
    .article2.texte{
        max-width: 90%;
    }
}


.bloc_competences {
    border: 2px solid #0d0b41;
    background-color: #f9f9f9;
    padding: 15px;
    h3 {
        color: rgb(223, 41, 41); 
        margin-bottom: 10px; 
    }
}

@media (max-width:800px){
    .bloc_competences {
        flex-direction: column;
    }
    .img{
       width:50% ;
       height:auto;
    }
    .encadrer {
        flex-direction: column;
    }
}

.encadrer {
    border: 2px solid #3f72af;  
    border-radius: 10px;         
    padding: 15px;              
    margin-bottom: 2% ;
}
.contenu {
     display: flex;
    gap: 20px;
    align-items: flex-start;
}

.texte_competence {
   flex: 1; 
}

/* Image cliquable de la vie étudiante */


#article4 {
    display: flex; 
    align-items: flex-start; 
    gap: 30px; 

}

#article4.texte {
    margin-left:auto;
    h2 {
        color:rgb(223,41,41)
}
}


#restocrous {
    display: flex;
   align-items:flex-end;
}

@media (max-width:800px) {
    #restocrous{
        width:300px;
       height:250px;
       flex-direction: column;
    }
    .imgCrous {
        width:300px;
       height:auto;
    }
}

.imgCrous{
 width: auto;
height: auto;
}


/*Footer*/

footer {
  background-color: #353535;
  display: flex;
  color: #e0e0e0;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
}
footer a {
    color: #e0e0e0;
    text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-color:#ff3a39;;
}
footer ul{
  list-style-type: none;
}
.Col_1_pied_de_page{
  flex: 1;
  text-align: left;
}
.Col_2_pied_de_page{
  flex: 1;
  text-align: center;
  margin-top: auto; 
}
.Col_3_pied_de_page{
  flex: 1;
  text-align: right;
}
.Col_3_pied_de_page p{
  margin-bottom: 13px;
}

@media (max-width:800px) {
    footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .Col_1_pied_de_page,
  .Col_1_pied_de_page,
  .Col_1_pied_de_page{
    text-align: center;
  }
  footer .Col_1_pied_de_page ul {
    padding: 0;
  }
  footer .Col_1_pied_de_page ul ul {
    padding: 0;
  }
}
  